/*去除默认样式*/
body, html{
  width:100%;
  height:100%;
}
html { font-size: 80px;}
body{font-size: 14px; }
@media only screen and (min-width: 1440px) {
html { font-size: 100px; }
body{font-size: 14px; }
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; box-sizing: border-box; word-break:break-all; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
i, em, b, strong { font-style: normal; }
table{ border-collapse:collapse; }
li{list-style-type:none;}
body { font: 14px/1;}
a { text-decoration: none; color: inherit; }
a:focus { outline: none; }
img { border: none; vertical-align:middle;}
input, button, select, textarea { outline: none; border: none; font-size: inherit; font-family:inherit; line-height:normal;}
input.disabled, textarea.disabled { background: #ccc;}
button.disabled{background: #ccc;color:#fff;}
button.disabled:hover{background: #ccc;color:#fff;cursor:default;}
textarea { resize: none; }



/*分页组件*/
.add_pagination{
  text-align:right;
  padding-top:10px;
}

/* 菜单 */
.add-menu .el-submenu__title{
  height: 42px;
  line-height: 42px;
}
.add-menu .el-menu-item.is-active {
  position: relative;
  background: #ddd !important;
}
.add-menu .el-menu-item.is-active::before{
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 4px;
  background-color: #d41c1a;
}

/* 菜单横向 */
.add-menu-x {
  background: #f8f8f8;
}
.add-menu-x .el-menu-item{
  height: 50px;
  line-height: 50px;
}
.add-menu-x .el-menu-item.is-active{
  border-bottom-width: 4px;
}

/* 树 */
.add-tree .el-tree-node__content {
  height: 30px;
}
.add-tree .tree-icon {
  background: url("./assets/img/file-add.png") center center no-repeat;
  background-size: 100% 100%;
  width: 17px;
  height: 16px;
  display: inline-block;
  margin: 0px 9px 0px 13px;
}
.add-tree .tree-icon.el-tree-node__expand-icon.expanded {
  background-image: url("./assets/img/file.png");
  transform: none;
}
.add-tree .is-leaf {
  visibility: hidden;
}
.add-tree.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  background-color: #c7e0f4;
}

/* 表格 */
.add_table td {
  padding: 9px 0px;
}
.add_table th {
  padding: 8px 0px;
  background-color: #efefef;
  color: #333;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd !important;
}
.add_table .el-table__body-wrapper{
  /* overflow: hidden; */
}

/* 搜索按钮 */
.search-box .left .el-button{
  margin-bottom: 10px;
}

.qual .el-form-item__label {
  line-height: 18px;
  position: relative;
  top: 20px;
  transform: translate(0, -50%);
}
